.outerCont{
    width: 98%;
    height: 130px;
    background-color: #fff;
    padding: 1rem 4rem 1rem 1rem;
    border-bottom: 1px solid #c4c4c4;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.imageCont{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}
.profileImage{
    width: 100%;
    height: 100%;
}

.infoCont{
    display: flex;
    flex-direction: column;
    width: max-content;
    gap: 1rem;
    margin-left: 2rem;
}
.userName{
    color: #767676;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: capitalize;
}
.timePosted{
    width: max-content;
    color: #a0a0a0;
}

.followButton{
    width: 110px;
    height: 39px;
    background-color: #f6647f;
    color: #fff;
    border-radius: 4px;
    border: none;
    font-size: 1.2rem;
    margin: 1.5rem 0;
    cursor: pointer;
    margin-left: auto;
}

.unfollowButton{
    width: 110px;
    height: 39px;
    background-color: #fafafa;
    color: #898888;
    border-radius: 4px;
    border: none;
    font-size: 1.2rem;
    margin: 1.5rem 0;
    cursor: pointer;
    margin-left: auto;   
}

@media(max-width:600px){
    .outerCont{
      padding: 0;
      width: 99.5%;
    }
}